
/*-- scss:defaults --*/

$font-family-sans-serif: Arial,
  FreeSerif, serif !default;
$font-family-monospace: "Cousine", 
  monospace !default;
$presentation-heading-font: "Hanken Grotesk", Arial,
  FreeSerif, serif !default;

$mainfont: $font-family-sans-serif !default;
$font-family-base: $font-family-sans-serif !default;
$font-family-code: $font-family-monospace !default;
$headings-font-family: $font-family-sans-serif !default;

$bs-default: rgb(125,18,186) !default;
$navbar-bg: #48384a !default;
$secondary: #769670 !default;

/*-- scss:rules --*/
.sidebar-logo-link {
  display: none;
}

/*-- scss:mixin --*/
$fade-casa : #bd8ea6;
$full-casa : #9e6b88;
$comp-casa : #6b9e9b;

a, .reveal a {
  color: $full-casa;
  text-decoration: none;

  &:visited{
    color: $full-casa;
    text-decoration: none;
    opacity: 0.7;
  }
  &:hover{
    color: $fade-casa;
    opacity: 0.7;
    text-decoration: underline;
  }
  &:active{
    color: $full-casa;
    opacity: 1;
    text-decoration: none;
  }
}

a.dropdown-item {
  &:hover, &:active {
    background-color: $fade-casa;
  }
}

a.nav-link dropdown-toggle, .navbar-brand, .nav-item, .nav-link .menu-text {
  font-family: $presentation-heading-font;
}

.navbar-brand {
  font-size: var(--bs-navbar-brand-font-size);
  color: var(--bs-navbar-brand-color);
  white-space: nowrap;
  color: #fafafa !important;
}

.breadcrumb {
  background-color: $fade-casa;
}

.quarto-title-breadcrumbs .breadcrumb li:last-of-type a {
  color: $brand-lightpink;
  opacity: 1.0;
}
