#--- Build from Jupyter-provided Minimal Install ---#
#  export IMG_NM=sds:2025-arm && podman build --arch arm64 -t jreades/$IMG_NM --compress  -f ./docker/Podman.master --format docker .
#  export IMG_NM=sds:2025-amd && podman build --arch amd64 -t jreades/$IMG_NM --compress  -f ./docker/Podman.master --format docker .
#  podman push <IMAGE ID> docker://docker.io/jreades/sds:2025-<ARCH>
#
# Or: make build ARCH=arm64
#

# podman run --rm -d --name sds -p 8888:8888 \
#   -v "$(pwd):/home/jovyan/work" \
#   jreades/sds:2026-arm start.sh jupyter lab \
#   --LabApp.password='' --ServerApp.password='' --NotebookApp.token=''
FROM quay.io/jupyter/minimal-notebook:notebook-7.6.2
# Would like to aim for something slimmer but...
LABEL maintainer="Jon Reades <j.reades@ucl.ac.uk>"

ARG TARGETARCH
RUN echo "Target architecture: ${TARGETARCH}"

ENV yaml_nm 'conda.podman.yml'
ENV LANG=C.UTF-8 LC_ALL=C.UTF-8

#--- Avoid weird build issue ---#
RUN mkdir -p /home/${NB_USER}/.cache/conda

#--- Installer scripts ---#
# Each script under docker/installers/ is self-contained and cleans
# up after itself in the same RUN it runs in (see installers/_lib.sh
# for why that matters). Copied once here so later steps don't repeat
# the COPY.
USER root
COPY ./docker/installers/ /tmp/installers/
RUN chmod +x /tmp/installers/*.sh

#--- Base ---#
RUN /tmp/installers/apt-base.sh
# Ideally we could skip the apt-get update
# if we knew where musl-dev is available to
# download.

#--- Install Quarto ---#
# Use the target platform to specify the Quarto version
RUN /tmp/installers/quarto.sh "${TARGETARCH}"

#--- Python ---#
USER $NB_UID
ENV env_nm 'base'
ENV env_path '/opt/conda/'

ADD ../conda/$yaml_nm ./

RUN /tmp/installers/conda-env.sh

#--- Install some fonts ---#
#####################
# Long term we probably want to install our own tinytex:
#   See: https://yihui.org/tinytex/#installation
#   And: https://github.com/rstudio/tinytex
#   And: https://github.com/rstudio/tinytex/issues/426
#   Since currently quarto install tinytex isn't supported.
#
#####################
# To use web fonts: https://fonts.google.com/knowledge/using_type/using_web_fonts
# To load web fonts: https://fonts.google.com/knowledge/using_type/using_web_fonts_from_a_font_delivery_service
#
#####################
# To get FontAwesome5 PDF support:
# 0. Check it isn't already supplied by installation of textlive-fonts-extra!
# 1. Unpack the fontawesome.tar.gz folder anywhere you need PDFs (e.g the practicals directory).
#    tar -xvf ./fontsrc/fontawesome.tar.gz -C ./work/practicals/
# 2. Adding the following to your _metadata.yml file (directory level):
# format:
#   pdf:
#     include-in-header:
#       text: |
#         \usepackage[fixed]{fontawesome5}
#
#####################
USER $NB_UID

ENV FONTCONF="/home/${NB_USER}/.config/fontconfig/conf.d"
ENV FONTPATH="/home/${NB_USER}/.fonts"

COPY ./fonts/conf ${FONTCONF}
COPY ./fonts/install ${FONTPATH}

RUN /tmp/installers/fonts.sh

# This bloats the image slightly but not massively.
# Rebuilds the font manager and warms imports so they're
# not paid for on first notebook run.
RUN /tmp/installers/python-preload.sh


#--- Tidy and fix permissions ---#
USER root

# Disable message, clean caches, fix known-bad libpysal import.
# finalize.sh also removes /tmp/installers once it's done with it.
RUN /tmp/installers/finalize.sh
# Fix permissions (currently unused):
#   fix-permissions $CONDA_DIR
#   fix-permissions /home/$NB_USER

#--- Final steps
USER $NB_UID

#--- Preload the NLTK/Spacy libs and code formatter ---#

#--- Make Proj4 Easy to Find ---#
# Change depending on whether using base environment

# ENV PROJ_LIB=$env_path/share/proj/
# ENV GENSIM_DATA_DIR=/home/$NB_USER/work/gensim-data
# ENV SPACY_DATA_DIR=/home/$NB_USER/work/spacy-data
# ENV XDG_CACHE_HOME=/home/$NB_USER/.cache/

# RUN echo "export PATH=$env_path/bin/:$PATH" >> ~/.bashrc
# RUN echo "export PROJ_LIB=$PROJ_LIB" >> ~/.bashrc
# RUN echo "export GENSIM_DATA_DIR=$GENSIM_DATA_DIR # python -m gensim.downloader --download <dataname>" >> ~/.bashrc
# RUN echo "export SPACY_DATA_DIR=$SPACY_DATA_DIR # spacy.load('/path/to/en_core_web_sm')" >> ~/.bashrc
# RUN echo "export XDG_CACHE_HOME=$XDG_CACHE_HOME" >> ~/.bashrc

#--- Configure startup params ---#
# Switch back to user to avoid accidental container runs as root
USER $NB_UID

# VSCode Extension Folder (optional usage)
RUN mkdir -p /home/$NB_USER/.vscode-server/extensions \
            /home/$NB_USER/.vscode-server-insiders/extensions \
    && chown -R $NB_UID \
            /home/$NB_USER/.vscode-server \
            /home/$NB_USER/.vscode-server-insiders
